.page
  %h1 Assembly Manual

  %h3 What happens if you go out of business?

  %h3 Why wouldn't I just start my own company?
  %p Starting a company is hard, expensive and lonely! You could be comitting to years of ongoing work with no pay or reward.

  %h3 25% of profit seems like a lot.
  %p This money helps us keep building crowdco and the platform which helps you work on earning more income

  %h3 What is "profit"?
  %p Profit is the cash left after we pay for essential services like servers. All costs are accounted for and accessible to contributors.

  %h3 How do I someone won't steal my idea?
  %p There are several factors that mitigate against copying of ideas submitted to Rebase. First, the Assembly Terms of Use prohibit use of content on Assembly outside of the Assembly process. Second, good ideas, by themselves, are often too conceptional and require the sum of alot of research and development before becoming a product. Finanlly, the active community on Assembly can retain the first-mover advantage in the marketplace over any would-be copycats.

  %h3 How is the product safe from competition if it's open source?
  %p The source code is licensed free for non-commercial use. Only Assembly can profit from it legally.

  %h3 How do I know you won't just sell it and my contributions are lost?
  %p We're dedicated to full transparancy. All of our internal systems are open source. Each product has a full breakdown of costs. Our terms of services mandate that contributors are rewarded. Our interests are aligned.

  %h3 What if there are additional costs to the product?

  %h3 Who does support?
  %p Support is a

  %h3 Will the product just become designed by comittee?

  %h3 What if there is a major product disagreement amongst the team?

  %h3 Er, exuse me, I hold dual degrees in computer science and business management. I think I can do my own marketing, thank you. If not I know people who will for a small fee.

  %h3 What happens when I stop working on the product?
  %p Your investment in a product will recgonized and rewarded for as long as are other community members are making contributions to further developement of the product and/or the product continues to produce profitable revenue.

  %h3 Who are you guys, how do I know you will make the product successful?

  %h3 What problem are you solving?

  %h3 How is this different from Quirky?
  %p We're focused on building web and mobile products that have ongoing development.

  %h3 Why does rebase.co retain the IP
  %p We devote significant resources and accept exposure to a multitude of legal risks in order to successfully support, develop, and commercialize a product. Rebase would be unable to sustain this level of investment and risk without the ability to control the exploitation of the IP in its products. In return for ownership of IP in a commercialized product, Assembly pays contributors a perpetual royalty commensurate with the degree of contribution.
