[submodule "vendor/normalize.css"]
	path = vendor/normalize.css
	url = https://github.com/necolas/normalize.css
[submodule "vendor/backbone"]
	path = vendor/backbone
	url = https://github.com/documentcloud/backbone.git
