.page
  %p
    <strong>This idea is still being formed by #{@idea.user.email}.</strong>

  %p Share this page with your friends to get early feedback. They'll only be able to look.
  %blockquote
    %a{href: idea_url(@idea)}= edit_idea_url(@idea)

  = form_tag idea_path(@idea), :method => :patch do
    %input#idea_name{type: 'text', name: 'name', value: @idea.name, maxlength: 255}
    %input#idea_pitch{type: 'text', name: 'pitch', value: @idea.pitch}

    %label(for="idea_description") Describe the details
    %textarea#idea_description.textarea-vertical(type="text" rows="6" name="description")
      = @idea.description
    .hint
      %p You can enter anything you like in this part. Great ideas clearly address these questions:
      %ul
        %li How did you come up with this idea?
        %li What's new about this idea?
        %li Do similar products exist already? (It's OK if they do)
        %li How will it make money?

  %form
    %input.btn(type="submit" value="Submit idea for review")
