%h1 Assembly Leaderboard

= render partial: 'nav'

%ul.ideas
  - for idea in @ideas
    %li.idea
      %span.amount= currency idea.sum_presales
      –
      %span.name
        %a{href: idea_path(idea.slug)}= idea.name
      –
      %span.pitch= idea.pitch
