%h1 Assembly Leaderboard

%ul
  %li
    %a(href="/") Manifesto
  %li
    %a(href="/help/manual") Manual
  %li
    %a(href="/leaderboard") Leaderboard

%ul.ideas
  - for idea in @ideas
    %li.idea
      %span.amount= currency idea.sum_presales
      –
      %span.name
        %a{href: idea_path(idea.slug)}= idea.name
      –
      %span.pitch= idea.pitch
