body {
  font-family: "Neue Haas Grotesk Text", Helvetica;
  -webkit-font-smoothing: antialiased;
  -webkit-hyphens: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
  font-family: "Neue Haas Grotesk Display";
}
