
.header
  %h1 Assembly

.letter
  %p Mankind's greatest achievements: Pyramids, The Moon, Linux, Wikipedia. These are new heights we hit when thousands of people come together and collaborate with a single vision.

  %p What if we could build products this way? Imagine that instead of going to work tomorrow you do some work and in return got a real stake in its success.

  %p Here's how Assembly works.

  %p First, we run a competition to find great ideas. We rely on the wisdom of crowds to surface the best out of a sea of ideas. If your idea is chosen, you'll get 5% of its profit forever.

  %p Now, with an idea selected we all get to work. Skilled professionals of all walks of life collaborate and build the product. For their contributions they are rewarded with a share of real profit.

  %p And we're here to help. Your success is our success. When ideas are greenlit, we make sure they get built.

  %p
    %a(href="#") More details

.submit-ideas
  %a#submit-ideas-el{href: new_idea_path}
    .submit-ideas-inner
      %h1
        Submit your idea,
        %br
        expand horizons.

#new-user-registration-view-el

:javascript
  $('#submit-ideas-el').click(function(e) {
    if(!app.isSignedIn()) {
      e.preventDefault();

      var href = $(e.target).attr('href');

      var view = new NewUserRegistrationView({
        el: $('#new-user-registration-view-el')
      });

      app.on('change:currentUser', function() {
        window.location = href;
      });

      view.render();
    }
  });
