.submit-ideas {
  > a {
    display: block;
    color: white;
    background-color: $blue;

    padding: 120px 0;
  }

  .submit-ideas-inner {
    @include container;

    > h1 {
      font-size: 60px;
      margin-bottom: 30px;
    }

    > h2 {
      color: rgba(black, 0.6);
      font-size: 28px;
    }
  }
}
