//= require normalize
@import 'bourbon';
@import 'support',
        'base',
        'modules';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.8);

  .overlay-content {
    padding: 40px;
    width: 400px;
    margin: 300px auto;
    background: white;
  }
}
